@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: RoyalBlue;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    float: right;
    margin: 0;
    text-align: right color: gold;
}

.pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic {
    width: 30%;
}